<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>LastAccessedDate</key>
	<date>2020-03-14T08:13:24Z</date>
	<key>WorkspacePath</key>
	<string>/Users/Chokyungjin/Documents/GitHub/Team_iOS_2_Client/YappProject/YappProject.xcodeproj</string>
</dict>
</plist>
